body {
    /*En CSS los comentarios se poenen de esta manera :)*/

    /* Resete */
    /*Tipografía*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin: 0; 
    padding: 0; 
    background: #F4F6F4;
    /* Interlineado */
    line-height: 1.5; 
}

header {
    background: #005C55; 
    color: #FFF; 
    text-align: center;
    padding: 20px;
}

footer {
    background-color:#dae0df
}

.menu {
    list-style: none;
    font-size: 16px;
    background-color: #018a68; 
}

.enlace{
    text-decoration:none;
    color: #FFF;  
    font-weight: bold;
}

.enlace:hover{
    color: #9fd4c6; 
}

.subtitulo{
    color: #018a68;
    font-style: oblique;

}

/* El seleetor de ID se utiliza para elementos únicos */
#titulo{
    font-family: cursive;
}

.boton{
    background-color: #018a68;
    border-bottom:0cm; 
    border-radius: 5px;
    color: #FFF;
}

.boton:hover {
    background-color: #9fd4c6;
}

section{
    /* Los valores para la propiedad border son tres: grosor de la linea, estilo y color */
    border: 1px solid #D5D5D5; 
    background: #FFF; 
    border-radius: 15px;
    padding: 20px; 
    margin: 20px;
}

.box{
    background: #C5F6E5;    
    border: 1px solid #D5D5D5; 
    border-radius: 5px; 
    padding: 15px; 
    /*  El valor auto se utiliza para centrar un elemento. Esta manera de centrar los elementos 
    solo aplica de manera horizontal*/
    margin: 15px auto; 
    text-align: center; 
}

.block {
    display: block;
    width: 150px;
    height: 50px;
}

.inline {
    display: inline;
    /* width y height son ignorados porque el display inline no acepta propiedades de tamaño */
    width: 150px;
    height: 50px;
}

.inline-block { 
    display: inline-block;
    width: 150px;
    height: 50px;
}